/**
 * This file contains global variable declarations
 */
$font-family: 'Source Sans Pro';

$theme-color: #243b4f;
//primary colors
$dark-brown: #663300; //rgb(109, 72, 32)

//secondary color
$lt-grey: #CCCCCC; //rgb(178, 179, 181)